@import url("https://fonts.googleapis.com/css?family=Francois+One");
html, body {
  height: 100%;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.wrapper {
  position: relative;
  width: 100%;
  font-size: 1em;
}
.wrapper .pops {
  position: absolute;
  z-index: -1;
  height: 20em;
  width: 80em;
  top: 0;
  left: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.wrapper .pop {
  position: absolute;
  -webkit-transform: scale(3);
          transform: scale(3);
  opacity: 0;
}
.wrapper .pop.first {
  left: 26em;
  top: 8em;
  -webkit-animation-delay: 1.14s;
          animation-delay: 1.14s;
}
.wrapper .pop.first .circle {
  -webkit-animation-delay: 1.14s;
          animation-delay: 1.14s;
}
.wrapper .pop.second {
  left: 50em;
  top: 8em;
  -webkit-animation-delay: 1.98s;
          animation-delay: 1.98s;
}
.wrapper .pop.second .circle {
  -webkit-animation-delay: 1.98s;
          animation-delay: 1.98s;
}
.wrapper .pop.third {
  left: 25em;
  top: 8em;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.wrapper .pop.third .circle {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.wrapper .pop.fourth {
  left: 50em;
  top: 8em;
  -webkit-animation-delay: 2.88s;
          animation-delay: 2.88s;
}
.wrapper .pop.fourth .circle {
  -webkit-animation-delay: 2.88s;
          animation-delay: 2.88s;
}

.madewithlove {
  margin: auto;
  padding: 3em 3em;
  box-sizing: border-box;
  border-left: 1em solid #fff;
  border-right: 1em solid #fff;
  height: 20em;
  overflow: hidden;
  display: flex;
  width: 80em;
  letter-spacing: 1em;
  -webkit-animation: squeeze 6s forwards;
          animation: squeeze 6s forwards;
  transition: width 1s;
  position: relative;
}
.madewithlove span {
  font-size: 15em;
  font-family: 'Francois One', sans-serif;
  color: #00BFFF;
  display: inline-block;
}
.madewithlove .love {
  -webkit-animation: hide 0.001s 1.08s forwards;
          animation: hide 0.001s 1.08s forwards;
}
.madewithlove .you {
  -webkit-animation: hide 0.001s 2.1s forwards;
          animation: hide 0.001s 2.1s forwards;
}
.madewithlove .i {
  -webkit-animation: hide 0.001s 3s forwards;
          animation: hide 0.001s 3s forwards;
}
.madewithlove .heart {
  display: inline-block;
  font-size: 15em;
  color: #fa4843;
  opacity: 0;
  width: 0;
  margin: auto .2em;
  -webkit-animation: heart 6s forwards;
          animation: heart 6s forwards;
}
.madewithlove .u {
  visibility: hidden;
  opacity: 0;
  width: 0;
  -webkit-animation: u 6s forwards;
          animation: u 6s forwards;
}
@-webkit-keyframes hide {
  to {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0 !important;
  }
}
@keyframes hide {
  to {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0 !important;
  }
}
@-webkit-keyframes u {
  35%,50.5%,100% {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  36%,50% {
    visibility: visible;
    position: relative;
    opacity: 1;
  }
}
@keyframes u {
  35%,50.5%,100% {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  36%,50% {
    visibility: visible;
    position: relative;
    opacity: 1;
  }
}
@-webkit-keyframes heart {
  0%, 17.5% {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
  18% {
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    width: auto;
  }
  20%, 35%, 51% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  23%, 34%, 38%, 50%, 54% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    width: auto;
  }
}
@keyframes heart {
  0%, 17.5% {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
  18% {
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    width: auto;
  }
  20%, 35%, 51% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  23%, 34%, 38%, 50%, 54% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    width: auto;
  }
}
@-webkit-keyframes squeeze {
  0% {
    width: 80em;
    letter-spacing: 2em;
  }
  18% {
    width: 72em;
    letter-spacing: 1em;
  }
  19% {
    width: 65em;
    letter-spacing: -.5em;
  }
  30%,32% {
    width: 55em;
    letter-spacing: -1em;
  }
  40%,46% {
    width: 39em;
  }
  55.5%,100% {
    width: 30em;
    letter-spacing: -1em;
  }
}
@keyframes squeeze {
  0% {
    width: 80em;
    letter-spacing: 2em;
  }
  18% {
    width: 72em;
    letter-spacing: 1em;
  }
  19% {
    width: 65em;
    letter-spacing: -.5em;
  }
  30%,32% {
    width: 55em;
    letter-spacing: -1em;
  }
  40%,46% {
    width: 39em;
  }
  55.5%,100% {
    width: 30em;
    letter-spacing: -1em;
  }
}
.pop {
  width: 10em;
  height: 10em;
  border: 0.2em solid #1E90FF;
  border-radius: 50%;
  -webkit-animation: pop 0.5s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: pop 0.5s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
  position: relative;
}
@-webkit-keyframes pop {
  0% {
    opacity: .25;
    width: 2em;
    height: 2em;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: .66;
    width: 5em;
    height: 5em;
    opacity: .25;
  }
  100% {
    width: 5em;
    height: 5em;
    opacity: 0;
  }
}
@keyframes pop {
  0% {
    opacity: .25;
    width: 2em;
    height: 2em;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: .66;
    width: 5em;
    height: 5em;
    opacity: .25;
  }
  100% {
    width: 5em;
    height: 5em;
    opacity: 0;
  }
}
.pop .circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #1E90FF;
  position: absolute;
}
.pop .circle.out-45 {
  -webkit-animation: out-45 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-45 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-45 {
  from {
    right: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    right: -3em;
    top: -3em;
  }
}
@keyframes out-45 {
  from {
    right: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    right: -3em;
    top: -3em;
  }
}
.pop .circle.out-90 {
  -webkit-animation: out-90 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-90 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-90 {
  from {
    right: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    right: -3em;
    top: -3em;
  }
}
@keyframes out-90 {
  from {
    right: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    right: -3em;
    top: -3em;
  }
}
.pop .circle.out-135 {
  -webkit-animation: out-135 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-135 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-135 {
  from {
    right: -2em;
    bottom: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    right: -3em;
    bottom: -3em;
  }
}
@keyframes out-135 {
  from {
    right: -2em;
    bottom: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    right: -3em;
    bottom: -3em;
  }
}
.pop .circle.out-180 {
  -webkit-animation: out-180 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-180 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-180 {
  from {
    right: -2em;
    bottom: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    right: -3em;
    bottom: -3em;
  }
}
@keyframes out-180 {
  from {
    right: -2em;
    bottom: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    right: -3em;
    bottom: -3em;
  }
}
.pop .circle.out-225 {
  -webkit-animation: out-225 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-225 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-225 {
  from {
    left: -2em;
    bottom: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    bottom: -3em;
  }
}
@keyframes out-225 {
  from {
    left: -2em;
    bottom: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    bottom: -3em;
  }
}
.pop .circle.out-270 {
  -webkit-animation: out-270 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-270 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-270 {
  from {
    left: -2em;
    bottom: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    bottom: -3em;
  }
}
@keyframes out-270 {
  from {
    left: -2em;
    bottom: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    bottom: -3em;
  }
}
.pop .circle.out-315 {
  -webkit-animation: out-315 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-315 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-315 {
  from {
    left: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    top: -3em;
  }
}
@keyframes out-315 {
  from {
    left: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    top: -3em;
  }
}
.pop .circle.out-360 {
  -webkit-animation: out-360 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-360 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-360 {
  from {
    left: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    top: -3em;
  }
}
@keyframes out-360 {
  from {
    left: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    top: -3em;
  }
}
.pop .circle.out-405 {
  -webkit-animation: out-405 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-405 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-405 {
  from {
    left: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    top: -3em;
  }
}
@keyframes out-405 {
  from {
    left: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    top: -3em;
  }
}
.pop .circle.out-450 {
  -webkit-animation: out-450 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
          animation: out-450 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
}
@-webkit-keyframes out-450 {
  from {
    left: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    top: -3em;
  }
}
@keyframes out-450 {
  from {
    left: -2em;
    top: -2em;
  }
  to {
    width: .3em;
    height: .3em;
    opacity: 0;
    left: -3em;
    top: -3em;
  }
}
p {
	margin: 0 0;
	position: absolute;
	font: 16px Verdana;
	color: #eee;
	height: 25px;
	top: calc( 100vh - 30px );
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}
p > a:first-of-type {
	font-size: 20px;
}